<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="container">
        
        <article class="article1">
            <button id="changeTextButton">Check</button>
        </article>

        
        <article class="article2">
            <p id="textDisplay">Leo Messi is GOAT</p>
        </article>
    </section>

    <script src="index.js"></script>
</body>
</html>
